
*{
  font-family: Georgia;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#indexbody{
  margin: auto;
  max-width: 1280px;
  background-image: url('jess-bailey-photo-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
  height: 100vh;
}

#resumebody, #aboutmebody {
  margin: auto;
  max-width: 1280px;
  background-image: url('david-van-photo-unsplash2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
  height: 100vh;
}

nav{
	font-size: 25px;
  opacity: 0.4;
}

.quotes{
  color: #3a4a3f;
  font-style: italic;
}

li{
  font-size: 20px;
}

.h_color{
  color: #ed8218;
}

.pheader{
  color: #db8002;
}

.devtools{
  background-image: url('philipp-deus-photo-unsplash.jpg');
  background-position: top;
  background-attachment: fixed; 
  background-size: inherit;
}


#indexbodyimage {
  background-image: url('marjan-blan-marjanblan-_photo-unsplash.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}






